* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul.menu {
  list-style-type: none;
}

.btn {
  background-color: chartreuse;
  border: none;
  padding: 1em;
  margin-top: 1em;
  font-size: 1em;
}

.card,
.widget {
  padding: 2em;
  margin: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 48px #b3b3b3;
}
.card h3,
.widget h3 {
  font-size: 1.5em;
}
.card img,
.widget img {
  margin: 2em;
}
.card p,
.widget p {
  text-align: center;
}

.widget {
  border: none;
}
.widget__title {
  margin-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  width: 100%;
  margin: 2em auto;
}
form input {
  margin: 0.5em;
  height: 48px;
}

.hithere {
  animation: hithere 1s ease 1;
  animation-delay: 2s;
}

@keyframes hithere {
  30% {
    transform: scale(1.2);
  }
  40%, 60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.slideleft {
  animation: slideleft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes slideleft {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
.slideright {
  animation: slideright;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes slideright {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}
.bounce {
  animation: bounce 2s ease 1;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.bounce-in {
  animation: bounce-in 2s ease 1;
  animation-delay: 2s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
body {
  height: 100vh;
  width: 100vw;
  position: relative;
}
body header {
  width: 100%;
  height: 150px;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 99;
}
body header .navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 150px;
  background-color: black;
  color: white;
  display: none;
}
body main, body #page {
  margin-top: 150px;
  min-height: 100vh;
  scroll-snap-type: y mandatory;
}
body main .hero, body #page .hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .hero__content, body #page .hero__content {
  margin: 0 auto;
  padding: 3em 1em;
  background-color: antiquewhite;
  opacity: 0.9;
  z-index: 10;
  position: relative;
}
body main .hero__content h1, body #page .hero__content h1 {
  font-size: 2.5em;
}
body main .hero__content p, body #page .hero__content p {
  font-size: 1.25em;
}
body main .hero::before, body #page .hero::before {
  content: "";
  background-image: url("../img/img2.jpg");
  background-position: center;
  background-origin: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  height: 100%;
  width: 100%;
}
body main .about, body main .company, body #page .about, body #page .company {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #000;
  background-color: lightgray;
}
body main .about h2, body main .company h2, body #page .about h2, body #page .company h2 {
  order: 0;
  width: 100%;
  text-align: center;
  position: relative;
  margin: 0.5em 0;
  font-size: 2em;
}
body main .about p, body main .company p, body #page .about p, body #page .company p {
  order: 1;
  padding: 1em 2em;
  position: relative;
}
body main .about button, body main .company button, body #page .about button, body #page .company button {
  position: relative;
  order: 3;
}
body main .programs, body main .team, body #page .programs, body #page .team {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
body main .programs::before, body main .team::before, body #page .programs::before, body #page .team::before {
  content: "";
  background-image: url("../img/img1.jpg");
  background-position: center;
  background-origin: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}
body main .programs h2, body main .team h2, body #page .programs h2, body #page .team h2 {
  order: 0;
  flex-basis: 100%;
  text-align: center;
  margin: 1em 0;
  font-size: 2em;
  position: relative;
}
body main .programs p, body main .team p, body #page .programs p, body #page .team p {
  order: 1;
  padding: 1em 2em;
  position: relative;
}
body main .programs button, body main .team button, body #page .programs button, body #page .team button {
  position: relative;
  order: 3;
}
body main .testimonials, body #page .testimonials {
  height: 100vh;
  padding-top: 2.5em;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .testimonials__slider, body #page .testimonials__slider {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  align-items: center;
  position: relative;
}
body main .testimonials__slider .card, body #page .testimonials__slider .card {
  min-width: 80%;
}
body main .testimonials h2, body #page .testimonials h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
}
body main .contact, body #page .contact {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  padding: 2em;
  background-color: lightgray;
}
body main .contact .card, body #page .contact .card {
  background-color: #fff;
}
body main .contact h2, body #page .contact h2 {
  order: 0;
  flex-basis: 100%;
  text-align: center;
  font-size: 2em;
}
body main .contact__info, body #page .contact__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100%;
  padding: 2em;
}
body main .contact__info p, body #page .contact__info p {
  margin: 0.75em;
}
body main .contact__form, body #page .contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}
body footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50px;
}
body footer .footer__widgets {
  width: 100%;
}
body footer .footer__widgets .widgets__title {
  width: 100%;
  text-align: center;
  padding: 1em;
}
body footer .footer__credits {
  text-align: center;
  width: 100%;
  padding: 1em;
  background-color: #000;
  color: #fff;
}
body .main__title {
  width: 100%;
  text-align: center;
  padding: 3em;
  background-color: lightgray;
}
body .company {
  background-color: #fff !important;
  padding: 5em 2em;
}
body .team__content {
  position: relative;
}
body .team__cards {
  position: relative;
}
body .team__cards .card {
  background-color: #fff;
}
body .team__cards .card img {
  width: 250px;
  height: auto;
}
body .gallery {
  width: 80%;
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  grid-auto-flow: dense;
}

/*# sourceMappingURL=home.css.map */
