$mobile-padding: 1em;
$mobile-margin: 1em;
$primary-black: #000;
$primary-white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
ul.menu {
  list-style-type: none;
}

.btn {
  background-color: chartreuse;
  border: none;
  padding: $mobile-padding;
  margin-top: $mobile-margin;
  font-size: 1em;
}

.card, .widget{
    border: 1px solid $primary-black;
    padding: 1.5em 0.5em;
    margin: 0.5em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widget{
    border: none;
    &__title{
        margin-bottom: 1em;
    }
}

body {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
  header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $mobile-padding;
    position: relative;
    width: 100%;
    z-index: 100;
    #main-menu {
      display: flex;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 100vh;
      background-color: aquamarine;
      width: 70vw;
      padding: 2em;
      left: 0;
      top: 0;
      .menu-item {
        padding: 0.5em;
      }
    }
  }
  main {
    grid-area: main;
    .hero {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &__content{
          margin: 0 auto;
          padding: calc($mobile-padding + 2em) $mobile-padding;
          background-color: #fff;
          z-index: 10;
          opacity: .8;
          h1 {
            font-size: 3em;
          }
          p {
            font-size: 1.25em;
          }
        }
      &::before{
        content: "";
        background-image: url('../img/bg1.jpg');
        background-position: center;
        background-origin: top;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        height: 100%;
        width: 100%;

      }
    }
    .teaser{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 2em;
        h2{
            order: 0;
            flex-basis: 100%;
            text-align: center;
            margin: 1em 0;
            font-size: 2em;
        }
        img{
            order: 2;
        }
        p{
            order: 1;
            padding: $mobile-padding;
        }
        
    }
    .testimonials{
        margin-top: 2em;
        h2{
            margin: 1em 0;
            text-align: center;
        }
    }
  }
  footer {
    grid-area: footer;
    background-color: bisque;
    margin-top: 1.5em;
    .credits{
        background-color: #000;
        color: $primary-white;
        padding: 1em 0.5em;
        text-align: center;
        font-size: 0.8em;
    }
  }
}
